<div class="container">
  <div class="row">
    <h2>Funcionarios</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <td colspan=3>
            <button class="btn btn-primary" (click)='open()'>Novo empregado</button>
          </td>
        </tr>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Salário</th>
          <th scope="col">Bonus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employees of employeeService.employees">
          <td>{{employees.name}}</td>
          <td appEmployee="{{ employees.salary }}">{{employees.salary}}</td>
          <td>{{employees.bonus}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-employee-modal (onSubmit)='onNewEmployee($event)'></app-employee-modal>