<div class="container">
  <div class="row">
    <h2>Funcionarios</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Salário</th>
          <th>Bonus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employees of employeeService.employees">
          <td>{{employees.name}}</td>
          <td appEmployee="{{ employees.salary }}">{{employees.salary}}</td>
          <td>{{employees.bonus}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-employee-modal></app-employee-modal>