<form>
  <div class="form">
    <div class="form-group col-md-6">
      <label for="name">Nome:</label>
      <input type="text"  [(ngModel)]="name" name="name" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="name">Salary:</label>
      <input type="text" [(ngModel)]="salary" name="salary" class="form-control">
    </div>
  </div>
  <div class="form-group col-md-6" *ngIf="salary<1001">
    <label for="name">Bonus:</label>
    <input type="text" [(ngModel)]="bonus" [innerHTML]="salary" appEmployee="{{ salary }}"  name="bonus" class="form-control">
  </div>
  <div class="form-group col-md-6">
    <button class="btn btn-primary" (click)="addEmployee($event)">Cadastrar</button>
  </div>
</form>